services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    restart: unless-stopped
    volumes:
      - /home/${USERNAME}/services_data/homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      - /dev:/dev
    privileged: true
    network_mode: host
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  doorbell_samba:
    image: ghcr.io/servercontainers/samba:latest
    container_name: doorbell_samba
    network_mode: host
    restart: unless-stopped
    cap_add:
      - CAP_NET_ADMIN
    environment:
      ACCOUNT_diego: ${SAMBA_ACCOUNT_PASSWORD}
      UID_diego: 1000
      SAMBA_VOLUME_CONFIG_doorbell: "[doorbell]; path=/doorbell; available = yes; browsable = yes; writable = yes; read only = no; force user = diego; public = yes; guest ok = yes"
    volumes:
      - /media/hd1/recordings/doorbell:/doorbell


networks:
  default:
    external: true
    name: home_server_network
