.venv/

.terraform/
terraform.tfstate
terraform.tfstate.backup

tests/inventory.yml

# Ansible packages
haxorof.docker_ce
andrewrothstein.terraform
andrewrothstein.hashi
andrewrothstein.unarchivedeps
geerlingguy.pip