.venv/
.env

.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

tests/inventory.yml
vault_key

# Ansible packages
haxorof.docker_ce
andrewrothstein.terraform
andrewrothstein.hashi
andrewrothstein.unarchivedeps
geerlingguy.pip
nephelaiio.git
nephelaiio.tmux
nephelaiio.xclip
andrewrothstein.restic