hosts.yml
secrets.yml

.venv/

.terraform/
terraform.tfstate
terraform.tfstate.backup

inventory.yml

# Ansible packages
haxorof.docker_ce
andrewrothstein.terraform
andrewrothstein.hashi
andrewrothstein.unarchivedeps