---
extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

ignore:
  - .venv
  - .github
  - .ansible/
  - roles/*/vars/main/vault.yml
  - roles/*/vars/main/env_vault.yml
  # Third-party / vendored config files mirrored as-is
  - services/photos/immich/hwaccel.transcoding.yml

rules:
  line-length:
    max: 160
  document-start: disable
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
