networks:
  default:
    name: home_server_network
    driver: bridge

services:
  homarr:
    container_name: homarr
    restart: unless-stopped
    image: ghcr.io/homarr-labs/homarr:v1.45.1
    volumes:
      - /home/${USERNAME}/services_data/homarr/appdata:/appdata
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - SECRET_ENCRYPTION_KEY=${HOMARR_SECRET_ENCRYPTION_KEY}
    healthcheck:
      test: ["CMD-SHELL", "homarr --version || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3

  filebrowser:
    container_name: filebrowser
    image: gtstef/filebrowser:1.0.1-stable
    restart: unless-stopped
    environment:
      TZ: "Europe/Amsterdam"
      FILEBROWSER_CONFIG: "data/config.yaml"
    volumes:
      - /media/hd1:/hd1
      - /media/hd2:/hd2
      - /media/hd3:/hd3
      - /home/${USERNAME}:/user_home
      - /home/${USERNAME}/services_data/filebrowser/data:/home/filebrowser/data
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:80/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  glance:
    container_name: glance
    image: glanceapp/glance:v0.8.4
    restart: unless-stopped
    volumes:
      - /home/${USERNAME}/services_data/glance/config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock

  # OBS: this dashboard is mainly for accessing services using Pangolin
  dashlit:
    container_name: dashlit
    image: ghcr.io/codewec/dashlit:latest
    restart: unless-stopped
    environment:
      ORIGIN: https://dashlit.net.dynabase.xyz
    volumes:
      - /home/${USERNAME}/services_data/dashlit/data:/app/data
