networks:
  default:
    name: home_server_network
    driver: bridge

services:
  # Reference: https://www.youtube.com/watch?v=qlcVx-k-02E
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:2.13.5
    container_name: nginx-proxy-manager
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 443:443
      - 80:80
      - 81:81
    volumes:
      - /home/${USERNAME}/services_data/nginx-proxy-manager/data:/data
      - /home/${USERNAME}/services_data/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
      - /home/${USERNAME}/services_data/nginx-proxy-manager/logrotate.custom:/etc/logrotate.d/nginx-proxy-manager
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:81"]
      interval: 30s
      timeout: 10s
      retries: 3

  homarr:
    container_name: homarr
    restart: unless-stopped
    image: ghcr.io/homarr-labs/homarr:v1.45.1
    volumes:
      - /home/${USERNAME}/services_data/homarr/appdata:/appdata
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - SECRET_ENCRYPTION_KEY=${HOMARR_SECRET_ENCRYPTION_KEY}
    healthcheck:
      test: ["CMD-SHELL", "homarr --version || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3

  filebrowser:
    container_name: filebrowser
    image: gtstef/filebrowser:1.0.1-stable
    restart: unless-stopped
    environment:
      TZ: "Europe/Amsterdam"
      FILEBROWSER_CONFIG: "data/config.yaml"
    volumes:
      - /media/hd1:/hd1
      - /home/${USERNAME}:/user_home
      - /home/${USERNAME}/services_data/filebrowser/data:/home/filebrowser/data
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:80/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  glance:
    container_name: glance
    image: glanceapp/glance:v0.8.3
    restart: unless-stopped
    volumes:
      - /home/${USERNAME}/services_data/glance/config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock

  pocket-id:
    container_name: pocket-id
    image: ghcr.io/pocket-id/pocket-id:v1.15.0
    restart: unless-stopped
    environment:
      - APP_URL=https://pocket-id.tail.dynabase.xyz
      - INTERNAL_APP_URL=https://pocket-id.dynabase.xyz
      - TRUST_PROXY=true
      - MAXMIND_LICENSE_KEY=${MAXMIND_LICENSE_KEY}
      - PUID=1000
      - PGID=1000
    volumes:
      - /home/${USERNAME}/services_data/pocket-id:/app/data
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
