services:
  nextcloud:
    image: linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=dbpassword
      - MYSQL_HOST=nextcloud_mariadb
    volumes:
      - /home/${USERNAME}/services_data/nextcloud/config:/config
      - /home/${USERNAME}/services_data/nextcloud/themes:/themes
      - /media/hd1/nextcloud:/data
    depends_on:
      nextcloud_mariadb:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/status.php"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  nextcloud_mariadb:
    image: mariadb
    container_name: nextcloud_mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - nextcloud-db:/var/lib/mysql
    environment:
      - TZ=Europe/Amsterdam
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      - MYSQL_PASSWORD=dbpassword
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  # https://www.reddit.com/r/selfhosted/comments/1eo7knj/guide_obsidian_with_free_selfhosted_instant_sync/
  obsidian-livesync:
    container_name: obsidian-livesync
    image: couchdb:3.4.3
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=0022
      - TZ=Europe/Amsterdam
      - COUCHDB_USER=obsidian
      - COUCHDB_PASSWORD=obsidian
    volumes:
      - /home/${USERNAME}/services_data/obsidian-livesync/data:/opt/couchdb/data
      - /home/${USERNAME}/services_data/obsidian-livesync/etc/local.d:/opt/couchdb/etc/local.d
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://obsidian:obsidian@localhost:5984/_up"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s


volumes:
  nextcloud-db:

networks:
  default:
    external: true
    name: home_server_network