services:
  # Reference: https://www.youtube.com/watch?v=qlcVx-k-02E
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:2.13.5
    container_name: nginx-proxy-manager
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 443:443
      - 80:80
      - 81:81
    volumes:
      - /home/${USERNAME}/services_data/nginx-proxy-manager/data:/data
      - /home/${USERNAME}/services_data/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
      - /home/${USERNAME}/services_data/nginx-proxy-manager/logrotate.custom:/etc/logrotate.d/nginx-proxy-manager
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:81"]
      interval: 30s
      timeout: 10s
      retries: 3




networks:
  default:
    external: true
    name: home_server_network