services:
  jellyfin:
    container_name: jellyfin
    image: linuxserver/jellyfin:10.10.7
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - /media/hd1/media/tvshows:/data/tvshows
      - /media/hd1/media/movies:/data/movies
      - /media/hd1/media/animes:/data/animes
      - /home/${USERNAME}/services_data/jellyfin/config:/config
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8096"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  jellyseerr:
    image: fallenbagel/jellyseerr:2.5.2
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/Amsterdam
    volumes:
      - /home/${USERNAME}/services_data/jellyseerr/config:/app/config
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:5055/api/v1/status"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  transmission-openvpn:
    container_name: transmission-openvpn
    image: haugene/transmission-openvpn:5.3.1
    # restart: unless-stopped
    environment:
      - OPENVPN_PROVIDER=SURFSHARK
      - OPENVPN_CONFIG=be-anr.prod.surfshark.com_tcp,be-bru.prod.surfshark.com_udp
      - OPENVPN_USERNAME=${TRANSMISSION_OPENVPN_USERNAME}
      - OPENVPN_PASSWORD=${TRANSMISSION_OPENVPN_PASSWORD}
      - LOCAL_NETWORK=${TRANSMISSION_LOCAL_NETWORK}
      - TRANSMISSION_WEB_UI=transmission-web-control
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
    volumes:
      - /media/hd1/downloads/data:/data
      - /home/${USERNAME}/services_data/transmission-openvpn/config/transmission-home:/config/transmission-home
      - /home/${USERNAME}/services_data/transmission-openvpn/config/openvpn-credentials.txt:/config/openvpn-credentials.txt
      - /home/${USERNAME}/services_data/transmission-openvpn/config/transmission-credentials.txt:/config/transmission-credentials.txt
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    logging:
      driver: json-file
      options:
        max-size: 10m
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9091/transmission/web/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  prowlarr:
    container_name: prowlarr
    image: linuxserver/prowlarr:1.34.1
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - /home/${USERNAME}/services_data/prowlarr/config:/config
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9696/ping"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr:4.0.14
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Amsterdam
    volumes:
      - /home/${USERNAME}/services_data/sonarr/config:/config
      - /media/hd1/media/tvshows:/data/tvshows
      - /media/hd1/media/animes:/data/animes
      - /media/hd1/downloads/data/completed:/data/completed
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8989/ping"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  radarr:
    container_name: radarr
    image: linuxserver/radarr:5.22.4
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Amsterdam
    volumes:
      - /home/${USERNAME}/services_data/radarr/config:/config
      - /media/hd1/media/movies:/data/movies
      - /media/hd1/downloads/data/completed:/data/completed
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7878/ping"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  navidrome:
    container_name: navidrome
    image: deluan/navidrome:0.58.0
    user: 1000:1000
    volumes:
      - /home/${USERNAME}/services_data/navidrome:/data
      - /media/hd1/media/music:/music:ro


networks:
  default:
    external: true
    name: home_server_network