services:
  beszel:
    container_name: beszel
    image: henrygd/beszel:0.16.1
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - /home/${USERNAME}/services_data/beszel:/beszel_data

  beszel-agent:
    container_name: beszel-agent
    image: henrygd/beszel-agent:0.16.1
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /media/hd1/.beszel:/extra-filesystems/sdb1:ro
      - /media/hd2/.beszel:/extra-filesystems/sdd1:ro
      - /media/hd3/.beszel:/extra-filesystems/sde1:ro
      - /home/${USERNAME}/services_data/beszel/agent_data:/var/lib/beszel-agent
    environment:
      LISTEN: 45876
      KEY: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGkA/G2D4L3nHi5fxUSHU892XZTPdedNRmFvVM3acXVy'
      TOKEN: 745717b0-b1b0-4ed9-8759-aa2bf46ce1b4
      HUB_URL: https://beszel.dynabase.xyz

  adguardhome:
    container_name: adguardhome
    image: adguard/adguardhome
    restart: unless-stopped
    ports:
      - 53:53/udp
      - 53:53/tcp
    volumes:
      - /home/${USERNAME}/services_data/adguardhome/conf:/opt/adguardhome/conf
      - /home/${USERNAME}/services_data/adguardhome/work:/opt/adguardhome/work

  portracker:
    container_name: portracker
    image: mostafawahied/portracker:latest
    pid: "host"
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    volumes:
      - /home/${USERNAME}/services_data/portracker/data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro

  termix:
    container_name: termix
    image: ghcr.io/lukegus/termix:latest
    restart: unless-stopped
    volumes:
      - /home/${USERNAME}/services_data/termix/data:/app/data


networks:
  default:
    external: true
    name: home_server_network