services:
  beszel:
    container_name: beszel
    image: henrygd/beszel:0.16.1
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - /home/${USERNAME}/services_data/beszel:/beszel_data

  beszel-agent:
    container_name: beszel-agent
    image: henrygd/beszel-agent:0.16.1
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /media/hd1/.beszel:/extra-filesystems/sdb1:ro
      - /home/${USERNAME}/services_data/beszel/agent_data:/var/lib/beszel-agent
    environment:
      LISTEN: 45876
      KEY: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGZ70crWOkNO8ZFv9Ow2Daz4eaGU4bEYGsVXowTbHs1A'
      TOKEN: 73361fa0-654c-4c13-b63e-6cd1b7149190
      HUB_URL: https://beszel.dynabase.xyz

  portracker:
    container_name: portracker
    image: mostafawahied/portracker:latest
    pid: "host"
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    volumes:
      - /home/${USERNAME}/services_data/portracker/data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro


networks:
  default:
    external: true
    name: home_server_network